.flex-between {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.p-0 {
  padding: 0;
}
.flex-navbar {
  display: flex;
  gap: 105px;
}

.style-none {
  list-style: none;
}

.gap-2 {
  gap: 10px;
}
